body {
    color: white;
    background: url(../public/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 475px;
    width: 300px;
    background:rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.2);

}

.search-bar {
    margin: 15px 0px 20px 0px;
    height: 10%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#user-input {
    height: 25px;
    width: 85%;
    border-radius: 10px;
    padding: 5px 0px 5px 15px;
    background: transparent;
    border:2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    font-weight: 500;
    text-decoration: none;
    color:#fff;
    font-size: 20px;
}

#user-input:focus{
    background-color: transparent;
}

#search-btn {
    position:absolute;
    right:0;
    width:40px;
    height:25px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 100%;
    color:#fff;
    margin:0px 15px 10px 0px;
}

#search-btn img{
    height:22px;
}


.weather {
    text-align: center;
}

img {
    height: 25px;
    padding: 5px;
}

.weather-details,
.details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.weather-details {
    margin-top: 40px;
}

#sub-conatiner-clone{
    display: none;
}